.style{
    border:1.5px solid rgb(235, 229, 229);
    width:400px;
    vertical-align: auto;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(253, 253, 253);
    margin-top: 100px;
}